html {
    font-family: 'Courier New', Courier, monospace;
    color: var(--maincolor);
    background-color: var(--secondcolor);
    font-weight: bold;
    font-size: 20px;
}
a {
    color: var(--maincolor);
    text-decoration: none;
}
.fa-square-arrow-up-right {
    color: var(--maincolor);
    margin-left: 3px;
}
main {
    padding: 10px;
    border: solid 3px;
    width: 95vw;
    height: 95vh;
    margin: 0 auto;
}
#color-section {
    display: flex;
}
#main-nav {
    border: solid 3px var(--maincolor);
}
#main-nav, #sub-nav {
    display: flex;
    gap: 5px;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
}
#sub-nav {
    padding: 0;
}
#nav-header {
    background-color: var(--maincolor);
    color: var(--secondcolor);
    padding: 5px;
    margin: 0;
    margin-bottom: 3px;
    width: 120px;
}
.nav-section {
    border: solid 3px var(--maincolor);
    border-top: solid 10px var(--maincolor);
    padding: 5px;
    width: 100%;
}
#main-section {
    border: solid 3px var(--maincolor);
    height: 80vh;
    padding: 10px;
}
/* p {
    margin: 0;
} */